@import "fonts"
@import "libs"
@import "vars"


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
#wrapper
	overflow: hidden
.hidden_vpc
	opacity: 0

.visible_vpc
	opacity: 1
.slick-slider
	.slick-arrow
		position: absolute
		width: 26px
		height: 44px
		bottom: -65px
		border: none
		background: url("../img/slider_next_arrow.png") no-repeat
		&.slick-prev
			left: 40%
			transform: scale(-1,1)
		&.slick-next
			right: 40%


.firstscreen
	display: block
	max-width: 100%
	background: url("../img/header_bg_img.jpg") 50% 0 no-repeat
	position: relative
	min-height: 700px
	height: 100%
	padding-bottom: 46px
	z-index: 10
	&:after
		display: block
		content: ''
		position: absolute
		background: url("../img/header_bg_img_after.png") 50% 0 no-repeat
		width: 100%
		height: 377px
		z-index: -1
		bottom: -370px
header
	margin-top: 10px
	display: flex
	align-items: center
	justify-content: space-between
	.logo
		display: flex
		align-items: center
	span.descriptor
		color: #ffffff
		font-weight: 700
		text-transform: uppercase
		margin-top: 61px
		line-height: 1.5
		font-size: 20px
		max-width: 295px
		display: inline-block
		vertical-align: middle
		margin-left: 20px
	.phone_block
		float: right
		margin-top: 15px
		.tel_number
			font-size: 30px
			color: #ffffff
			display: block
			&:hover
				text-decoration: none
				border-bottom: none
			svg
				position: relative
				bottom: 6px
				right: 5px
		.calls_request
			font-family: "Milio", sans-serif
			font-style: italic
			float: right
			font-size: 24px
			color: #ffffff
			border-bottom: 4px dotted #fff
			&:hover
				text-decoration: none
				border-bottom: 4px solid transparent
section.offer
	margin-top: 100px
	max-width: 800px
	color: #ffffff
	position: relative
	.first
		font-size: 48px
		font-family: "Milio", sans-serif
		font-style: italic
		&:after
			content: ''
			display: inline-block
			width: 110px
			vertical-align: middle
			margin-left: 15px
			height: 3px
			background-color: $red
	.second
		margin-top: 0
		margin-bottom: 0
		font-size: 62px
		font-weight: normal
		line-height: 1.1
		text-transform: uppercase
		.third
			color: $red
	.fourth
		font-size: 36px
		font-family: "Milio", sans-serif
		font-style: italic
		max-width: 500px
		line-height: 1.2
		margin-top: 0
	.fifth
		position: absolute
		top: 142px
		right: 85px
		margin: 0
		line-height: 1.3
		padding: 10px 15px
		font-weight: bold
		font-size: 200px
		color: $red
		border: 20px solid rgba(255,255,255,0.2)
		.sixth
			font-weight: normal
			font-size: 48px
			font-family: "Milio", sans-serif
			font-style: italic
			color: #ffffff
			position: absolute
			display: block
			top: 135px
			right: -100px
		.seventh
			font-size: 100px
			position: absolute
			top: 85px
			right: 120px
	.header_button
		width: 335px
		height: 75px
		display: block
		background-color: $red
		color: #ffffff
		padding: 25px
		position: relative
		font-weight: bold
		text-transform: uppercase
		text-align: center
		border-radius: 2px
		&:hover
			background-color: #cf3c3d
			text-decoration: none
			&:after
				right: -25px
		&:after
			content: ''
			width: 30px
			height: 21px
			background: url("../img/header_arrow.png") no-repeat
			display: block
			position: absolute
			right: 5px
			transition: right .3s ease-in
			top: 28px
section.add_offer
	position: relative
	.inner
		background: url('../img/paint.png') no-repeat
		height: 400px
		width: 354px
		position: absolute
		bottom: -150px
		right: 0
		svg
			position: relative
			top: 150px
			left: 0
		p
			font-weight: bold
			font-size: 30px
			color: #ffffff
			text-transform: uppercase
			position: relative
			line-height: 1.3
			top: 70px
			left: 45px
.secondscreen
	background: url('../img/secondscreen_bg.jpg') 50% 0 no-repeat
	position: relative
	padding-top: 100px
	z-index: 9
	&:after
		position: absolute
		content: ''
		display: block
		height: 253px
		width: 100%
		background: url("../img/secondscreen_bg_after.png") 50% 0 no-repeat
		bottom: -250px
		z-index: 0
	.video_content
		margin-top: 330px
		width: 100%
		height: 525px
		background-color: #000
		position: relative
		box-shadow: 0 10px 60px rgba(42,42,42,.8)
		button.play
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			margin: auto
			display: block
			width: 67px
			height: 78px
			background: url("../img/play_button.png") no-repeat
			border: none
			&:hover
				background: url("../img/play_hovered.png") no-repeat
				text-decoration: none
	.list
		position: relative
		border: 20px solid rgba(42,42,42,.3)
		margin: 215px auto 0
		min-height: 367px
		max-width: 97.6%
		img
			position: absolute
			top: -140px
			left: -175px
			z-index: 1
		ul
			li
				list-style: none
				padding: 15px 0
				position: relative
				right: 20px
				&:before
					content: ''
					display: block
					position: absolute
					top: 15px
					left: -40px
					width: 32px
					height: 29px
					background: url("../img/list-style_header.png") no-repeat
.thirdscreen
	background: url('../img/thirdscreen_bg.jpg') no-repeat
	min-height: 2000px
	width: 100%
	padding: 225px 0 0
	position: relative
	z-index: 8
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/thirdscreen_bg_after.png") 50% 0 no-repeat
		height: 210px
		width: 100%
		bottom: -155px
	.slick-arrow
		background: url("../img/slider_next_arrow_white.png") no-repeat
	.header
		color: #ffffff
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin: 0
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			font-weight: bold
			text-transform: uppercase
	p
		color: #ffffff
	.icon_block
		text-align: center
		min-height: 600px
		margin-top: 30px
		img.second_icon
			position: relative
			top: 25px
		h3
			color: #ffffff
			font-size: 30px
			font-family: "Milio", sans-serif
			text-align: center
			position: relative
			&:after
				content: ''
				display: block
				position: absolute
				width: 60px
				height: 3px
				background-color: $red
				bottom: -10px
				left: 45%
		p
			margin-bottom: 0
		span
			font-size: 30px
			font-family: "Milio", sans-serif
			font-weight: bold
			display: block
			left: 0
			right: 0
			position: absolute
			bottom: 110px
			color: #ffffff
		a
			width: 355px
			display: block
			padding: 15px
			color: #ffffff
			left: 0
			right: 0
			position: absolute
			bottom: 30px
			font-weight: bold
			font-size: 20px
			border-radius: 2px
			background-color: $red
			margin: 5px auto
			&:hover
				text-decoration: none
				background-color: #cf3c3d
	.col-sm-6:last-child
		a
			bottom: 75px
		span
			bottom: 155px
.fourthscreen
	background: url('../img/fourthscreen_bg.jpg') 50% 0 no-repeat
	min-height: 900px
	z-index: 7
	position: relative
	padding: 215px 0 0
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/fourthscreen_bg_after.png") 50% 0 no-repeat
		height: 180px
		width: 100%
		bottom: -170px
	.header
		color: #1f1f2a
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin-bottom: 0
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
	p
		color: #1f1f2a
		width: 100%
		max-width: 680px
		font-size: 24px
	.portfolio
		margin-top: 0
		.case
			padding: 20px 0
			max-width: 350px
			position: absolute
			width: 100%
			height: 350px
			img.logo_case
				position: absolute
				width: 60%
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto
			img.case_img
				box-shadow: 0 12px 23px rgba(42,42,42,.3)
				position: absolute
				&.hover
					z-index: -1
			.desc
				display: none
				background-color: rgba(47,47,51,0.9)
				max-width: 350px
				width: 100%
				height: 350px
				position: absolute
				.border
					max-width: 329px
					width: 100%
					height: 329px
					position: absolute
					top: 6px
					left: 10px
					border: 3px solid #fff
					a
						font-size: 24px
						color: #ffffff
					.img_container
						height: 56px
						img
							position: relative
							box-shadow: none
							max-width: 160px
							margin: 15px auto
							width: 100%
							display: block
					p
						font-size: 14px
						color: #ffffff
						font-weight: 300
						padding: 5px 15px
						text-align: center
						line-height: 1.5
					.count
						font-size: 18px
						color: #ffffff
						font-weight: 300
						padding: 5px 15px
						text-align: center
						line-height: 1.5
						span
							display: block
							font-family: "Bebas", sans-serif
							color: #fd4042
							font-size: 32px

.fifthscreen
	background: url('../img/fifthscreen_bg.jpg') 50% 0 no-repeat
	min-height: 950px
	position: relative
	padding: 200px 0 0
	z-index: 6
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/fifthscreen_bg_after.png") 50% 0 no-repeat
		height: 180px
		width: 100%
		bottom: -163px
	h2
		color: #ffffff
		font-family: $default-font
		font-weight: normal
		margin-bottom: 0
		margin-top: 0
		text-transform: uppercase
		font-size: 48px
		&:after
			content: ''
			display: block
			width: 45px
			height: 3px
			background-color: $red
	p
		max-width: 500px
		width: 100%
		font-family: "Milio", sans-serif
		font-style: italic
		color: #ffffff
	form
		position: relative
		.checkbox_container
			margin-top: 10px
			a
				color: #ffffff
		input[type="checkbox"]
			width: 15px
			display: inline-block
			height: 15px
			margin: 0 auto
			position: relative
			top: 3px
		label
			display: block
			text-transform: uppercase
			font-weight: bold
			font-size: 24px
			color: #ffffff
			margin-top: 10px
		input
			display: block
			width: 350px
			height: 75px
			border-radius: 2px
			border: none
			padding-left: 70px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			color: #1f1f2a
			&:focus
				outline: none
		button[type='submit']
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			border: none
			background-color: $red
			padding-left: 0
			color: #ffffff
			text-transform: uppercase
			position: relative
			&:hover
				text-decoration: none
				background-color: #cf3c3d
				&:after
					right: -25px
			&:after
				content: ''
				width: 30px
				height: 21px
				background: url("../img/header_arrow.png") no-repeat
				display: block
				position: absolute
				right: 5px
				transition: right .3s ease-in
				top: 28px
		#clients_count
			background: url("../img/clients_count_icon.png") 7% 50% no-repeat #ffffff
		#business
			background: url("../img/business_icon.png") 7% 50% no-repeat #ffffff
		#tel
			background: url("../img/phone_icon.png") 7% 50% no-repeat #ffffff
			background-size: 7%
		img
			position: absolute
			top: -50px
			right: -225px
.sixthscreen
	background: url('../img/sixthscreen_bg.jpg') 50% 0 no-repeat
	min-height: 2400px
	position: relative
	padding: 100px 0 0
	z-index: 5
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/sixthscreen_bg_after.png") 50% 0 no-repeat
		height: 200px
		width: 100%
		bottom: -145px
	.header
		color: #1f1f2a
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin-bottom: 0
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
	p
		color: #1f1f2a
		width: 100%
		max-width: 680px
		font-size: 24px
	.advantages
		margin-top: 150px
		.advantage
			text-align: center
			min-height: 380px
			h3
				font-family: Milio, sans-serif
				font-weight: bold
				font-size: 24px
				text-transform: uppercase
				max-width: 350px
				position: relative
				top: 25px
				line-height: 1.5
				margin: 10px auto
				&:after
					content: ''
					display: block
					width: 45px
					height: 3px
					background-color: #ff4142
					margin: 5px auto
			p
				font-family: $default-font
				font-size: 20px
				position: relative
				top: 15px
			img
				position: absolute
				right: 0
				left: 20px
				margin: auto
				top: -115px
	.header2
		margin-top: -100px
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
			&:after
				content: ''
				display: block
				width: 45px
				height: 3px
				background-color: #ff4142
		p
			font-family: "Milio", sans-serif
			font-style: italic
			width: 100%
			max-width: 800px
			line-height: 1.5
			font-size: 20px
			margin-bottom: 0
	.person
		p.desc
			font-size: 20px
			font-weight: normal
			text-align: center
			line-height: 1.5
			min-height: 300px
			height: 100%
			position: relative
		img
			margin: 10px auto
			max-width: 220px
			max-height: 220px
			height: 100%
			width: 100%
			display: block
		a
			width: 100%
			height: 76px
			display: block
			padding: 25px
			background-color: $red
			color: #ffffff
			border-radius: 2px
			font-weight: bold
			text-transform: uppercase
			text-align: center
			&:hover
				text-decoration: none
				background-color: #cf3c3d
.seventhscreen
	background: url('../img/seventhscreen_bg.jpg') 50% 100% no-repeat
	min-height: 625px
	position: relative
	padding: 200px 0 0
	z-index: 4
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/seventhscreen_bg_after.png") 50% 0 no-repeat
		height: 200px
		width: 100%
		bottom: -187px
	.header
		color: #fff
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			max-width: 100%
			margin-bottom: 0
			color: #ffffff
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			line-height: 1.5
			text-transform: uppercase
	p
		color: #fff
		margin-top: 0
		width: 100%
		max-width: 680px
		font-size: 24px
		font-family: "Milio", sans-serif
		font-style: italic
	form.form2
		margin-top: 25px
		.checkbox_container
			a
				color: #ffffff
			margin-top: 15px
		input[type="checkbox"]
			width: 15px
			display: inline-block
			height: 15px
			margin: 0 auto
			position: relative
			top: 3px
		input
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			border: none
			padding-left: 70px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			margin-right: 30px
			color: #1f1f2a
			&:focus
				outline: none
		input[name="name"]
			background: url("../img/user_icon.png") 7% 50% no-repeat #ffffff
		input[name="tel"]
			background: url("../img/phone2_icon.png") 7% 50% no-repeat #ffffff
		button[name='submit']
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			border: none
			background-color: $red
			padding-left: 0
			color: #ffffff
			text-transform: uppercase
			position: relative
			&:hover
				text-decoration: none
				background-color: #cf3c3d
				&:after
					right: -25px
			&:after
				content: ''
				width: 30px
				height: 21px
				background: url("../img/header_arrow.png") no-repeat
				display: block
				position: absolute
				right: 5px
				transition: right .3s ease-in
				top: 28px
.eighthscreen
	background: url('../img/eighthscreen_bg.jpg') 50% 100% no-repeat
	min-height: 1800px
	position: relative
	padding: 100px 0 0
	z-index: 3
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/eighthscreen_bg_after.png") 50% 0 no-repeat
		height: 200px
		width: 100%
		bottom: -198px
	.header
		color: #1f1f2a
		margin-top: 40px
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin-bottom: 0
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
			&:after
				content: ''
				display: block
				width: 45px
				height: 3px
				background-color: #ff4142
				margin-bottom: 45px
	.about_item.first
		margin-top: 60px
		position: relative
		min-height: 320px
		p
			max-width: 660px
			width: 100%
			position: absolute
			font-family: "Milio", sans-serif

		img
			position: absolute
			left: 800px
			top: -40px
	.about_item.second
		margin-top: 60px
		position: relative
		min-height: 320px
		p
			max-width: 660px
			width: 100%
			position: absolute
			left: 350px
			font-family: "Milio", sans-serif
		img
			position: absolute
			left: 0
			top: -40px
	h3
		font-weight: 700
		font-size: 48px
		text-align: center
	.col-sm-4
		text-align: center
	span
		display: block
.ninthscreen
	background: url('../img/ninthscreen_bg.jpg') 100% 0 no-repeat
	min-height: 908px
	position: relative
	padding: 180px 0 0
	z-index: 2
	overflow: visible
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/ninthscreen_bg_after.png") 100% 0 no-repeat
		height: 200px
		z-index: -1
		width: 100%
		bottom: -200px
	.header
		color: #ffffff
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
			&:after
				content: ''
				display: block
				width: 45px
				height: 3px
				background-color: #ff4142
		p.desc
			font-family: "Milio", sans-serif
			font-style: italic
			width: 100%
			max-width: 800px
			line-height: 1.5
			font-size: 20px
			margin-bottom: 0
	ul.tabs
		padding-left: 0
		line-height: 1
		margin: 45px auto 10px
		li
			background: url("../img/tab_list_style.png")0 50% no-repeat
			display: inline-block
			width: 70px
			padding-left: 36px
			list-style: none
			vertical-align: middle
			&:first-child
				background: none
				padding-left: 0
				width: 32px
			a
				color: #57595e
				font-family: "Milio", sans-serif
				font-size: 36px
				&:hover
					text-decoration: none
					color: #ffffff
			&.active
				a
					color: #ffffff

	.tab_container
		width: 97.5%
		position: relative
		z-index: -2
		height: 430px
		border: 20px solid rgba(175,175,175,.3)
		#tab1
			.desc
				p
					bottom: 68px
					&:before
						bottom: 100px
		#tab2
			.desc .img_container
				bottom: 180px
		.tab
			display: none
			&.active
				display: block
			.desc
				width: 100%
				max-width: 500px
				text-align: center
				padding: 30px
				.img_container
					position: absolute
					bottom: 210px
					left: 190px
					width: 120px
					height: 116px
					img
						margin: 0 auto
						top: 0
						bottom: 0
						left: 0
						right: 0
				p
					font-size: 24px
					font-family: "Milio", sans-serif
					font-weight: bold
					text-transform: uppercase
					color: #ffffff
					position: absolute
					bottom: 28px
					width: 440px
					&:before
						content: ''
						display: block
						width: 45px
						position: absolute
						right: 0
						bottom: 140px
						left: 0
						height: 3px
						background-color: #ff4142
						margin: auto
				a
					display: inline-block
					width: 350px
					height: 75px
					border-radius: 2px
					font-size: 20px
					font-weight: bold
					margin-top: 15px
					border: none
					background-color: $red
					padding: 19px
					color: #ffffff
					text-transform: uppercase
					position: relative
					&:hover
						text-decoration: none
	figure.cycle
		position: absolute
		bottom: -80px
		z-index: -1
		right: 219px
		background: url('../img/cycle_bg.png') no-repeat
		width: 600px
		height: 642px
		.img
			transition: transform 1s ease-in 0.2s
			width: 538px
			height: 541px
			position: absolute
			left: 35px
			span
				font-family: "Milio", sans-serif
				position: absolute
				font-size: 44px
				font-style: italic
				font-weight: bold
				color: #ffffff
				transition: transform 1s ease-in 0.2s
				&.sp1
					top: 258px
					left: 80px
				&.sp2
					top: 105px
					left: 142px
				&.sp3
					top: 80px
					left: 304px
				&.sp4
					top: 210px
					left: 407px
				&.sp5
					top: 364px
					left: 345px

		&.clicked-02
			.img
				transform: rotate(-60deg)
				span
					transform: rotate(60deg)
		&.clicked-03
			.img
				transform: rotate(-120deg)
				span
					transform: rotate(120deg)
		&.clicked-04
			.img
				transform: rotate(-180deg)
				span
					transform: rotate(180deg)
		&.clicked-05
			.img
				transform: rotate(-240deg)
				span
					transform: rotate(240deg)
	.revolver
		background: url("../img/revolver1.png") no-repeat
		width: 910px
		height: 300px
		position: absolute
		bottom: -94px
		right: -200px
		z-index: 2
.tenthscreen
	background: url('../img/tenthscreen_bg.jpg') 100% 0 no-repeat
	min-height: 590px
	position: relative
	padding: 100px 0 0
	z-index: 1
	&:after
		content: ''
		display: block
		position: absolute
		background: url("../img/tenthscreen_bg_after.png") 100% 0 no-repeat
		height: 200px
		z-index: -1
		width: 100%
		bottom: -200px
	.header
		color: #1f1f2a
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin-bottom: 0
			&:after
				content: ''
				display: inline-block
				width: 110px
				vertical-align: middle
				margin-left: 15px
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 0
			text-transform: uppercase
	p
		color: #1f1f2a
		width: 100%
		max-width: 680px
		font-size: 24px
	form.form3
		.checkbox_container
			margin-top: 15px
			a
				color: #1f1f2a
		input[type="checkbox"]
			width: 15px
			display: inline-block
			height: 15px
			margin: 0 auto
			position: relative
			top: 3px
		input
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			border: none
			padding-left: 70px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			margin-right: 30px
			color: #1f1f2a
			&:focus
				outline: none
		input[name="name"]
			background: url("../img/user_icon.png") 7% 50% no-repeat #ffffff
		input[name="phone"]
			background: url("../img/phone2_icon.png") 7% 50% no-repeat #ffffff
		button[type='submit']
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			border: none
			background-color: $red
			padding-left: 0
			color: #ffffff
			text-transform: uppercase
			position: relative
			&:hover
				text-decoration: none
				background-color: #cf3c3d
				&:after
					right: -25px
			&:after
				content: ''
				width: 30px
				height: 21px
				background: url("../img/header_arrow.png") no-repeat
				display: block
				position: absolute
				right: 5px
				transition: right .3s ease-in
				top: 28px
footer.footer
	background: url('../img/footer_bg.jpg') 100% 0 no-repeat
	min-height: 344px
	position: relative
	padding: 180px 0 0
	z-index: 0
	.phone_block
		float: right
		text-align: right
		a
			display: block
			color: #ffffff
			&:hover
				text-decoration: none
			&.tel_number
				font-size: 30px
				font-weight: 700
			&.calls_request
				border-bottom: 2px dotted #fff
				display: inline-block
				&:hover
					border-bottom: none
					padding-bottom: 2px
		svg
			position: relative
			bottom: 6px
			right: 5px
#to_call
	display: none
	max-width: 730px
	width: 100%
	height: 710px
	background: url('../img/header_bg_img.jpg') no-repeat
	background-size: cover
	position: absolute
	top: 100px
	left: 0
	right: 0
	bottom: 0
	margin: 0 auto
	text-align: center
	.header
		color: #fff
		p
			font-size: 36px
			font-family: "Milio", sans-serif
			font-style: italic
			margin-bottom: 0
			&:after
				content: ''
				display: block
				width: 110px
				margin: 0 auto
				vertical-align: middle
				height: 3px
				background-color: #ff4142
		h2
			font-size: 48px
			margin: 10px auto 25px
			line-height: 1.2
			font-weight: 300
			text-transform: uppercase
	form.modal_form
		.checkbox_container a
			color: #ffffff
		input[type="checkbox"]
			width: 15px
			display: inline-block
			height: 15px
			margin: 0 auto
			position: relative
			top: 3px
			right: 10px
		input
			display: block
			width: 350px
			height: 75px
			border-radius: 2px
			border: none
			padding-left: 70px
			font-size: 24px
			font-weight: bold
			margin: 15px auto
			color: #1f1f2a
			&:focus
				outline: none
		input[name="name"]
			background: url("../img/user_icon.png") 7% 50% no-repeat #ffffff
		input[name="phone"]
			background: url("../img/phone2_icon.png") 7% 50% no-repeat #ffffff
		button[type='submit']
			display: inline-block
			width: 350px
			height: 75px
			border-radius: 2px
			font-size: 24px
			font-weight: bold
			margin-top: 15px
			border: none
			background-color: $red
			padding-left: 0
			color: #ffffff
			text-transform: uppercase
			position: relative
			&:hover
				text-decoration: none
				background-color: #cf3c3d
				&:after
					right: -25px
			&:after
				content: ''
				width: 30px
				height: 21px
				background: url("../img/header_arrow.png") no-repeat
				display: block
				position: absolute
				right: 5px
				transition: right .3s ease-in
				top: 28px

.mfp-content
	position: absolute
	top: 0
	left: 0
.mfp-close-btn-in #to_call .mfp-close
	color: #ffffff
#fz
	display: none
	max-width: 730px
	width: 100%
	min-height: 157vh
	padding: 20px
	background-color: #ffffff
	position: absolute
	top: 5px
	left: 0
	right: 0
	bottom: 0
	margin: 0 auto
	text-align: center
.bid_message
	position: fixed
	top: 0
	left: 0
	height: 100vh
	z-index: 1050
	width: 100%
	background-color: rgba(47,41,51,0.7)
	display: none
	.message
		position: absolute
		top: 33vh
		left: 0
		right: 0
		width: 250px
		border-radius: 3px
		height: 125px
		background-color: #fff
		padding: 20px 25px
		text-align: center
		bottom: 0
		margin: 0 auto
.loader
	background: #000
	background: radial-gradient(#222, #000)
	bottom: 0
	left: 0
	overflow: hidden
	position: fixed
	right: 0
	top: 0
	z-index: 99999


.loader-inner
	bottom: 0
	height: 60px
	left: 0
	margin: auto
	position: absolute
	right: 0
	top: 0
	width: 100px


.loader-line-wrap
	animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	box-sizing: border-box
	height: 50px
	left: 0
	overflow: hidden
	position: absolute
	top: 0
	transform-origin: 50% 100%
	width: 100px

.loader-line
	border: 4px solid transparent
	border-radius: 100%
	box-sizing: border-box
	height: 100px
	left: 0
	margin: 0 auto
	position: absolute
	right: 0
	top: 0
	width: 100px

.loader-line-wrap:nth-child(1)
	animation-delay: -50ms
.loader-line-wrap:nth-child(2)
	animation-delay: -100ms
.loader-line-wrap:nth-child(3)
	animation-delay: -150ms
.loader-line-wrap:nth-child(4)
	animation-delay: -200ms
.loader-line-wrap:nth-child(5)
	animation-delay: -250ms

.loader-line-wrap:nth-child(1) .loader-line
	border-color: #ff4142
	height: 90px
	width: 90px
	top: 7px

.loader-line-wrap:nth-child(2) .loader-line
	border-color: #ff4142
	height: 76px
	width: 76px
	top: 14px

.loader-line-wrap:nth-child(3) .loader-line
	border-color: #ff4142
	height: 62px
	width: 62px
	top: 21px

.loader-line-wrap:nth-child(4) .loader-line
	border-color: #ff4142
	height: 48px
	width: 48px
	top: 28px

.loader-line-wrap:nth-child(5) .loader-line
	border-color: #ff4142
	height: 34px
	width: 34px
	top: 35px


@keyframes spin
	0%, 15%
		transform: rotate(0)

	100%
		transform: rotate(360deg)

@import "media" // Всегда в конце
